.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    max-height: 50px !important;
    box-sizing: border-box;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030 !important;
}

.navpadding{
    padding: 0.5rem 1rem;
}

.icon{
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: middle;
}

img{
    vertical-align: middle;
    border-style: none;
}

.nav_logo{
    display: inline-block;
    padding-top: 0.32421875rem;
    padding-bottom: 0.32421875rem;
    margin-right: 1rem;
    font-size: 1.171875rem;
    line-height: inherit;
    white-space: nowrap;
}

.nav_logo img{
    max-height: 35px;
}

.nav_title{
    font-size: 18.75px !important;
    color: rgba(0,0,0,.9) !important;
}

.bg-gray {
    background-color: #e9ecef!important;
}

.btn-side:hover{
    background-color: #cbd3da !important;
}

.btn-search{
    padding: 6px 8px !important;
}

.btn-color{
    background-color: #fff !important;
    color: #00000099 !important;
}

.btn-color:hover{
    color: rgba(0,0,0,.9) !important;
}

.nav_menu{
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav{
    flex-wrap: wrap;
    -webkit-margin-start: 0.2rem;
}

.nav_item{
    display: flex;
    flex-direction: row;
}

.nav_item div{
    text-align: -webkit-match-parent;
}

.nav_usermenu{
    padding: 0 0.5rem;
}

.c-blue:hover{
    color: #0a477e !important;
}

.nav_avatar{
    margin-right: 0.5rem;
}

.avatar{
    border-radius: 50%;
}

b{
    font-weight: bolder;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}