.navbar{
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%);
    max-height: 50px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navpadding{
    padding: 0.5rem 1rem;
}

.icon{
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    vertical-align: middle;
}

img{
    vertical-align: middle;
    border-style: none;
}

.nav_logo img{
    max-height: 35px;
}

.btn-light {
    color: #212529;
    border-color: #f8f9fa;
}

.bg-gray {
    background-color: #e9ecef!important;
}

.btn-side{
    margin-right: 0.5rem;
}

.btn-side:hover{
    background-color: #cbd3da !important;
}