#page-header, #page-body{
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box; 
    border: 1px solid rgba(0,0,0,.125);
}

#page-body{
    overflow-x: auto;
    overflow-y: visible;
}

.course-title{
    font-size: 37.5px !important;
    line-height: 1.2 !important;
}

#submit-title{
    font-size: 30px; 
    line-height: 1.2;
    margin-bottom: 8px !important;
}

.breadcrumb{
    padding: 0.25rem 0;
    list-style: none;
}

.bc-items{
    text-align: -webkit-match-parent;
}

.bc-items a{
    color: #0f6fc5;
}

.bc-items a:hover{
    color: #0a477e;
    text-decoration: underline;
}

.bc-items+.bc-items::before{
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6c757d;
    content: "/";
}

#submit-intro{
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

#submit-table{
    margin-bottom: 5em;
}

#table-title{
    font-size: 26.25px;
    line-height: 1.2;
}

#summary-table{
    margin-top: 1em;
}

#general-table{
    width: 100%;
    color: #212529;
}

table {
    display: table;
    border-collapse: collapse;
    border-color: grey;
}

tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th{
    text-align: inherit;
}

#general-table th, #general-table td{
    padding: 12px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    box-sizing: border-box;
}

#general-table tbody tr:hover {
    color: #212529 !important;
    background-color: rgba(0,0,0,.075) !important;
}

#general-table tbody tr:nth-of-type(odd){
    background-color: rgba(0,0,0,.05);
}

#submit-comment:hover{
    text-decoration: underline;
}

.col-md-4{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.activity-link{
    white-space: pre-wrap;
}

.btn{
    display: inline-block;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    line-height: 1.5;
    border-radius: 0;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.form-control{
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 6px 28px 6px 12px;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #8f959e;
    border-radius: 0;
    word-wrap: normal;
    transition: background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    appearance: none;
    background:url(/arrow.svg) no-repeat right center; 
}

.arrow{
    background-position-x: 98%;
    background-size: 8px 10px;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
}

.form-control:focus {
    border-color: #61aef3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(15 111 197 / 75%);
}

/* .empty-content:before{
    content: "-";
} */

.dueEffect{
    color: #000;
    /* background-color: #fbaca3; */
    background-color: #efcfcf;
}

.submitEffect{
    color: #000;
    background-color: #cfefcf;
}

@media (min-width: 576px){
    .d-sm-flex {
        display: flex!important;
    }

    .form-inline label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
    }
}

@media (min-width: 768px){
    .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
        box-sizing: border-box;
    }
}